 <footer class="footer bg-light text-dark pt-5 pb-5 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="font-weight-bold">À propos de CookShare</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Notre histoire</a></li>
                            <li><a href="#">Équipe</a></li>
                            <li><a href="#">Carrières</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="font-weight-bold">Support</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Centre d'aide</a></li>
                            <li><a href="#">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="font-weight-bold">Légal</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Conditions d'utilisation</a></li>
                            <li><a href="#">Politique de confidentialité</a></li>
                            <li><a href="#">Cookies</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="font-weight-bold">Suivez-nous</h5>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                            <li><a href="#"><i class="fab fa-pinterest"></i> Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <p>&copy; 2024 CookShare. Tous droits réservés.</p>
                    </div>
                </div>
            </div>
        </footer>