{% extends 'base.html.twig' %}

{% block title %}CookShare- Accueil
{% endblock %}

{% block body %}

	{% if app.user %}
		<div class="container mt-4">
			<div class="jumbotron">
				<h2 class="display-4">hey!! {{ app.user.fullname }} Bienvenue sur CookShare !</h2>
				<h3>Profitez de notre plateforme pour découvrir de délicieuses recettes, partager vos créations et interagir avec d'autres passionnés de cuisine.</h3>
				<hr>
				<h4 class="mb-0">N'oubliez pas de consulter les dernières recettes ajoutées et de contribuer en partageant vos propres recettes !</h4>
			</div>
		</div>
	{% else %}
		<div class="container mt-4">
			<div class="jumbotron">
				<h2 class="display-4">Bienvenue sur CookShare !</h4>
				<h3>Découvrez une communauté passionnée de cuisine où vous pouvez explorer une multitude de recettes savoureuses et partager vos propres créations culinaires.</h3>
				<hr>
				<h4 class="mb-0">Inscrivez-vous dès maintenant pour accéder à toutes les fonctionnalités de CookShare, telles que la sauvegarde de vos recettes préférées, l'interaction avec d'autres membres et bien plus encore !</h4>
			</div>
		</div>
	{% endif %}
	
	

	{% include 'pages/recipe/community.html.twig' %}

	<div class="navigation d-flex justify-content-center mt-4">
		{{ knp_pagination_render(recipes) }}
	</div>

{% endblock %}
