{% extends 'base.html.twig' %}

{% block title %}CookShare- Accueil
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur CookSahre</h1>
			<p class="lead">N'hésitez pas à vous inscrire pour pouvoir partager vos idées de recettes et agrandir la communauté.</p>
			<hr class="my-4">
		</div>
	</div>

	{% include 'pages/recipe/community.html.twig' %}

	 <div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(recipes) }}
			</div> 

{% endblock %}
