/* basse de styles */
* {
    margin: 0;
    padding: 0;
}
/* charte graphique */
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
/* utils */
.mt-4 {
    margin-top: 4rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mb-8 {
    margin-bottom: 8rem;
}
/* layout */
.container {
    width: 80%;
    margin: 0 auto;
}
/* composants */
.form-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* composants */
#recipes-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* composants */
#recipe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* composants */
#recipe-ingredients-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* composants */
#recipe-steps-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* composants */
#recipe-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#ingredients-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-image img{
    width: 500px;
}


/* cards */

.card {
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.308);
}

.card-img-top-wrapper {
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* show recipe */
.recipe-image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767.98px) {
    .recipe-image img {
        margin-bottom: 1rem;
    }
}



/* show recipe */
.recipe-image img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-image img {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
}

.badge {
    font-size: 1rem;
}
.recipe-details p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.description-article {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}
.star-rating .fa {
    font-size: 2rem;
    color: #ffc107;
}
.form-group {
    margin-top: 2rem;
}
.star-rating .fa:hover,
.star-rating .fa:hover ~ .fa {
    color: #00000036;
}



.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-container button i {
    margin-right: 5px;
}

