<div class="search">
    <form method="GET" action="{{ path('home.index') }}" class="d-flex">
        <input 
            class="form-control me-2" 
            type="search" 
            name="query" 
            placeholder="Quelle recette recherchez-vous ?" 
            value="{{ app.request.query.get('query') }}"
            aria-label="Search"
        >
        <button class="btn btn-outline-primary" type="submit">
            <i class="fas fa-search"></i> Rechercher
        </button>
    </form>
</div>
